<% if user_signed_in? %>

<% else %>
<div class="hero-unit">
	<h1>Welcome to AlisT!</h1>
	<p>
	In the future, there will be a very cool site here where you can make a wish list
		to share with your friends and family. 
	</p>
	<p>
		<%= link_to "Sign me up!", new_user_registration_path, class: "btn btn-inverse btn-large" %>
	</p>	
</div>
<% end %>