<div class="hero-unit">
	<h1>Welcome to AlisT!</h1>
	<p>
	In the future, there will be a very cool site here where you can make a wish list
		to share with your friends and family. 
	</p>
		<p>
		This site was built with the class called <%= link_to "One Month Rails", "http://onemonthrails.com" %>
		</p>
	<p>
		<%= link_to "Sign me up!", "#", class: "btn btn-inverse btn-large" %>
	</p>	
</div>